*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
	text-decoration: none ;
	color: whitesmoke;
}

nav ul,
nav {
	background-color: #2a2928;
	color: #ffffff;
	padding: 10px 75px 10px 75px;
	font-size: 1.2em;
	font-weight: 200;
	
}
nav img {
	height: 60px;
}
nav a {
	color: #ffffff;
    text-decoration: none;
	
}
nav ul,
nav li {
	display: inline-block;
}
nav li {
	/* border: solid 1px fuchsia; */
	margin-left: 70px;
}
section > video {
	width: 100%;
}

header{
	text-align: center;
	font-size: larger;
	padding-top: 10px;

}
header a {
	color: black;
}


.product_list {
	text-decoration: none;
}

.gradient-custom {
	color: whitesmoke;
	background: rgb(141,0,255);
background: -moz-linear-gradient(0deg, rgba(141,0,255,1) 0%, rgba(0,0,0,0.9859593495601365) 50%);
background: -webkit-linear-gradient(0deg, rgba(141,0,255,1) 0%, rgba(0,0,0,0.9859593495601365) 50%);
background: linear-gradient(0deg, rgba(141,0,255,1) 0%, rgba(0,0,0,0.9859593495601365) 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d00ff",endColorstr="#000000",GradientType=1);
}

  .gradient-custom2 {
	
background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9859593495601365) 10%, rgba(141,0,255,1) 30%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9859593495601365) 10%, rgba(141,0,255,1) 30%);
background: linear-gradient(0deg, rgba(0,0,0,0.9859593495601365) 10%, rgba(141,0,255,1) 30%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8d00ff",GradientType=1);


/* .col-12{
	padding-bottom: 100px;
} */
  .login-img{
	overflow: hidden;
  }
  h3{
	font-family: fantasy;
  }

  .paragraphs{
	/* border: dotted; */
	
  }